<ion-modal-view>
	<ion-header-bar>
		<div class="buttons">
	  		<button class="button button-clear button-positive" ng-click="hideArticleDialog()">取消</button>
		</div>
		<h1 class="title model-title">开始吐槽</h1>
		<div class="buttons">
	  		<button class="button button-clear button-positive" ng-click="addArticle(data.newArticle)">提交</button>
		</div>
	</ion-header-bar>
	<ion-content >
		<div class="list">
			<label class="item item-input">
				<input type="date" placeholder="日期" ng-model="data.newArticle.date">
			</label>
			<label class="item item-input">
				<textarea placeholder="主要内容" class="common-text" ng-model="data.newArticle.desc"></textarea>
			</label>
			
		</div>  
	</ion-content>
</ion-modal-view>
