<ion-modal-view>
	<ion-header-bar>
		<div class="buttons">
	  		<button class="button button-clear button-positive" ng-click="hideDialog()">取消</button>
		</div>
		<h1 class="title model-title">注册</h1>
		<div class="buttons">
	  		<button class="button button-clear button-positive" ng-click="regist(data.registUser)">提交</button>
		</div>
	</ion-header-bar>
	<ion-content >
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="用户名" ng-model="data.registUser.name">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="密码" ng-model="data.registUser.password">
			</label>
		</div>  
	</ion-content>
</ion-modal-view>
